/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.balloon, .green-balloon, .orange-balloon, .blue-balloon, .red-balloon, .ufo { position: absolute; background-size: cover; }

.green-balloon { background-image: url("../images/balloon-green.png"); }

.orange-balloon { background-image: url("../images/balloon-orange.png"); }

.blue-balloon { background-image: url("../images/balloon-blue.png"); }

.red-balloon { background-image: url("../images/balloon-red.png"); }

.ufo { background-image: url("../images/ufo.png"); }

html, body { height: 100%; }

.container { display: block; position: relative; margin: 0 auto; width: 1000px; background: url("../images/clouds-background.jpg"); background-size: cover; overflow-y: hidden; height: 100%; font-family: "Alfa Slab One", sans-serif; }

.points { position: absolute; left: 20px; top: 30px; }

.lives { position: absolute; right: 20px; top: 30px; }

#over { display: none; position: absolute; top: 100px; left: 45%; z-index: 999; }
#over img { width: 200px; height: 50px; }
