html, body
{
    height: 100%;
}
.container {
  display:block;
  position:relative;
  margin: 0 auto;
  width: 1000px;
  background: url('../images/clouds-background.jpg');
  background-size: cover;
  overflow-y: hidden;
  height: 100%;
  font-family: $app-font;
}

.points {
  position:absolute;
  left: 20px;
  top: 30px;
}

.lives {
  position:absolute;
  right: 20px;
  top:30px;
}

#over {
  display: none;
  position: absolute;
  top: 100px;
  left: 45%;
  z-index: 999;
  img{
    width: 200px;
    height: 50px;
  }
}
